header {
    // -------------- Header Drawer --------------
    .overlay,
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .sidebar {
        left: -100%;
        max-width: 300px;
        transition: all ease 0.25s;
        overflow-y: auto;
        z-index: 1032;
        // background-color: #212529 ;
        background-image: url('../../img/HomePage/passion-band-horse.gif');
        background-size: 600%;
        background-repeat: no-repeat;
        background-position: left;

        @include responsive('lg') {
            background-color: transparent;
            background-image: none;
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            flex-direction: row;
            max-width: 100%;
            transform: none;
            transition: none;
            overflow-y: visible;
            z-index: auto;
        }
    }

    .overlay {
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        visibility: hidden;
        z-index: 1031;
    }

    .main-navigation.active .sidebar {
        left: 0;
    }

    .main-navigation.active .overlay {
        visibility: visible;
    }

    .main-heading {
        position: relative;
        z-index: 100;
    }

    // -------------- End Drawer --------------
    .navbar {
        padding: 0;
        background-color: transparent !important;
        transition: all 0.3s;
        border-bottom: 0.3px solid rgba(223, 221, 221, 0.215);
    }

    .navbar-brand img {
        width: 80px;
        object-fit: contain;
        @include responsive ('lg'){
            width: 100px;
        }
    }

    .navbar-light .navbar-nav {
        text-align: center;

        .nav-item {
            .nav-link {
                color: white;
                transition: all 0.3s;
                font-weight: 700;
                letter-spacing: 1px;
                &:hover {
                    color: rgb(232, 247, 17);
                }

                @include responsive('lg') {
                    font-size: 16px;
                    text-transform: uppercase;
                    &:hover {
                        color: rgb(242, 255, 0);
                    }
                }
            }

            // image gif
            img {
                object-fit: contain;
                width: 100%;
            }
        }
    }

    .navbar-light {
        .navbar-toggler {
            border-color: white
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
    // header scroll > 60 add class .nav-fixed
    &.nav-fixed {
        .navbar{
            background-color: white !important;
        }
        .navbar-light {
            .navbar-toggler {
                border-color: black
            }
    
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }

            .navbar-nav .nav-item .nav-link {
                color: white;
                @include responsive ('lg'){
                    color: black;
                }
                &:hover {
                    color: rgb(175, 4, 4);
                }
            }
        }
    }
}