.top {
    position:fixed;
    bottom: 80px;
    right:20px;
    display:none;
    z-index:99;
    padding:12px 18px;
    background: linear-gradient(63deg, rgba(105, 195, 34, 1) 0%, rgba(249, 253, 45, 1) 100%);
    color:black;
    border-radius:5px;
    cursor:pointer;
    opacity: 0.8;
    animation: effectButtonScrollTop 1.5s infinite;
    &:hover {
        background: linear-gradient(231deg, rgb(101, 195, 29) 0%, rgb(243, 247, 35) 100%) !important
    }
}

@keyframes effectButtonScrollTop {
    0% { bottom: 80px; opacity: 0.8; }
    50% { bottom: 100px; opacity: 1; background: linear-gradient(63deg,rgb(101, 195, 29) 0%, rgb(243, 247, 35) 100%);}
    100% {  bottom: 80px; opacity: 0.8  }
}